<div class="container">
  <div class="row d-flex justify-content-center">
    <h2 class="mt-4">About nikki</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <p class="mt-4">体重・運動量・食事内容を記録して自分で振り返ることで、最適なダイエット方法を探るためのSNSです。</p>
    <p class="mt-4">他のダイエットを頑張る仲間の投稿を参考にしたり、刺激をもらったりできます。</p>
  </div>
</div>