<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h1 class="dynapuff text-center">
        nikki <br>
        ~<strong>肉</strong>体改造交換日<strong>記</strong>~
      </h1>
      <p class="text-center mt-5"><strong>体重</strong>・<strong>運動量</strong>・<strong>食事内容</strong>を記録して振り返り、<strong>最適なダイエット方法</strong>を探るための<strong>SNS</strong>です。</p>
      <p class="text-center"><strong>ダイエットを頑張る仲間</strong>の投稿を参考にしたり、<strong>刺激</strong>をもらったりできます。</p>

      <p class="text mt-5">推定エネルギー必要量（kcal/日）</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>性別</th>
            <th colspan="3">男性</th>
            <th colspan="3">女性</th>
          </tr>
          <tr>
            <th>活動レベル</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>18~29歳</td>
            <td>2,300</td>
            <td>2,650</td>
            <td>3,050</td>
            <td>1,700</td>
            <td>2,000</td>
            <td>2,300</td>
          </tr>
          <tr>
            <td>30~49歳</td>
            <td>2,300</td>
            <td>2,700</td>
            <td>3,050</td>
            <td>1,750</td>
            <td>2,050</td>
            <td>2,350</td>
          </tr>
          <tr>
            <td>50~64歳</td>
            <td>2,200</td>
            <td>2,600</td>
            <td>2,950</td>
            <td>1,650</td>
            <td>1,950</td>
            <td>2,250</td>
          </tr>
        </tbody>
      </table>
      <ul>
        <li>活動レベル１</li>
        <p>１日中座っている方</p>
        <li>活動レベル２</li>
        <p>デスクワーク中心だが、通勤や買い物で日常的に体を動かしている方</p>
        <li>活動レベル３</li>
        <p>体を激しく動かす仕事に就かれている方や、スポーツのような活発な運動習慣がある方</p>
      </ul>
      <h3 class="text-center mt-5">ご飯茶碗1杯 = 約234kcal x 3食 = 702kcal</h3>
      <h3 class="text-center">味噌汁1杯 = 約70kcal x 3食 = 210kcal</h3>
      <h3 class="text-center mt-5">おかずは何kcal摂取していますか？</h3>
    </div>
  </div>
  <div class= "col-2"></div>
</div>