<div class="comment index mb-2">
  <% post.post_comments.each do |post_comment| %>
    <table class = table-borderless>
      <tr>
        <th style="white-space: nowrap;">
          <big><%= post_comment.user.name %></big>
          <small><%= post_comment.created_at.strftime('%Y/%m/%d') %></small>
        </th>          
      </tr>
      <tr>
        <td> 
          <%= safe_join(post_comment.comment.split("\n"),tag(:br)) %>
        </td>
        <td style="white-space: nowrap;">
          <% if post_comment.user == current_user %>
            <%= link_to "削除", post_post_comment_path(post, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？", remote: true ,class: "btn btn-danger btn-sm ml-2" %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
