@use '~bootstrap/scss/bootstrap';

table {
  table-layout: auto;
  width: 100%;
}
th{
  white-space: nowrap;
  text-align: left;
}
td {
  word-wrap: break-word;
  text-align: left;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 150px;
}