@use '~bootstrap/scss/bootstrap';

.post-table {
  table-layout: auto;
  width: 100%;
}
.post-table th{
  white-space: nowrap;
  text-align: left;
}
.post-table td {
  word-wrap: break-word;
  text-align: left;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 80px;
}