<div class="container">
  <div class="row d-flex justify-content-center">
    <h2 class="bmi">BMI参考</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>BMI値</th>
          <th>判定</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>18.5未満</th>
          <td>低体重</td>
        </tr>
        <tr>
          <th>18.5~25未満</th>
          <td>普通体重</td>
        </tr>
        <tr>
          <th>25~30未満</th>
          <td>肥満(1度)</td>
        </tr>
        <tr>
          <th>30~35未満</th>
          <td>肥満(2度)</td>
        </tr>
        <tr>
          <th>35~40未満</th>
          <td>肥満(3度)</td>
        </tr>
        <tr>
          <th>40以上</th>
          <td>肥満(4度)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>