<div class="container">
  <div class="row d-flex justify-content-center">
    <h4 class="head mb-3"><%= @user.name %>さんがフォローしているユーザー一覧</h4>
  </div>
  <div class="row d-flex justify-content-center">
    <%= render 'follow', users: @users %>
  </div>
</div>