<div class="container">
  <div class="row d-flex justify-content-center">
    <h2 class="mb-4">マイページ</h2>
  </div>
  <div class="row justify-content-center">

  </div>
  <div class="row">
    <div class="col-3">
      <%= render 'profile', user: current_user %>
    </div>
    <div class="col-6">
      <div class="row d-flex justify-content-center">
        <%= render "graph", user: current_user %>
        <%= render "posts", posts: @posts %>
      </div>
    </div>
    <div class="col-3">
      <div class="sticky">
        <%= render 'bmi' %>
      </div>
    </div>
  </div>
</div>