<div class="container">
  <div class="row d-flex justify-content-center">
    <p class="dynapuff mt-2 mb-2">
      <big>nikki</big> 〜<strong>肉</strong>体改造交換日<strong>記</strong>〜
    </p>
  </div>
</div>